* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #9FC1D6;
}

/* Style the header */
header {
    background-color: #1E4B60;
    padding: 10px 30px;
    text-align: left;
    font-size: 20px;
    color: #FEFEFE;
}

input[type="text"] {
    cursor: text;
}

input[type="date"] {
    cursor: pointer;
}

.logo-div {
    display: inline;
    padding-right: 5em;
}

.logo {
    width: 12%;
}

/* Style the list inside the menu */
.ul-header {
    list-style-type: none;
    padding: 0;
    display: inline;
}

.ul-header li {
    display: inline;
    padding: 0.4em 1em;
    border-radius: 15px 15px 0 0;
    background: #226686;
    box-shadow: 24px 0 37px -24px rgba(0,0,0,0.43);
    border-style: solid;
    border-color: #1E4B60 #1E4B60 transparent;
}

.ul-header a {
    text-decoration: none;
    font-size: 15px;
    color: #FEFEFE;
    padding: 10px;
}

.last-li {
    margin-left: 100px;
}

.ul-header li:hover {
    border-color: #FEFEFE #FEFEFE transparent;
    cursor: pointer;
}

.ul-header li:active {
    border-color: #1E4B60 #1E4B60 transparent;
}

.lev_content {
    float: left;
    padding: 20px;
    width: 65%;
}

/* Clear floats after the columns */
section::after {
    content: "";
    display: table;
    clear: both;
}

.desen_content {
    width: 35%;
    padding: 20px;
    float: right;
}

.vtor_desen_content {
    width: 20em;
    padding: 20px;
    float: right;
    position: absolute;
    top: 120px;
}

.second_menu {
    background-color: #FEFEFE;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    padding: 2em;
    line-height: 1.7;
    height: 430px;
}

.second_menu > div {
    margin-bottom: 1em;
}


input[type="text"], .second_menu input[type="date"] {
    width: 200px;
    padding: 5px;
    border: 0;
    border-bottom: 1px solid #bebebe;
    font-family:inherit;
    font-size: inherit;
}

.dd {
    width: 100%;
    padding:10px;
    border-radius:10px;
    cursor: pointer;
    margin-top: 0.5em;
}

.rbt {
    font-size: small;
}

.second_menu input[type="radio"] {
    vertical-align: text-bottom;
}

.second_menu input[type="range"] {
    width: 60%;
}

.rbt label {
    vertical-align: middle;
}

.vnesi_button {
    display:inline-block;
    padding:0.7em 1.4em;
    margin:1em 0 0 1.7em;
    border-radius:0.3em;
    box-sizing: border-box;
    text-decoration:none;
    text-transform:uppercase;
    font-weight:400;
    color:#FFFFFF;
    background-color: #375ed2;
    text-align:center;
    position:relative;
    cursor: pointer;
}

.vnesi_button:active {
    top:0.1em;
}

.vnesi_button:hover {
    background-color: #264bbf;
}

.rbt1 {
    margin-top: 3em;
}

.rbt2 {
    margin-top: 1em;
}

#zabeleska {
    resize: none;
    background-color: #f0e68c;
    border: none;
    border-radius: 5px;
    margin-top: 1em;

}

@media all and (max-width:30em){
    .vnesi_button {
        display:block;
        margin:0.4em auto;
    }
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
    nav, .lev_content {
        width: 100%;
        height: auto;
    }
}


/**
 * ALL the UI design credit goes to:
 * https://www.sketchappsources.com/free-source/2676-calendar-template-sketch-freebie-resource.html
 */


/* WRAPPER */

.wrapper {
    grid-template-rows: 70px 1fr 70px;
    grid-template-columns: 1fr;
    grid-template-areas: "sidebar"
                       "content";
    width: 60vw; /* unnecessary, but let's keep things consistent */
    height: 40vh;
}

@media screen and (min-width: 850px) {
    .wrapper {
        grid-template-columns: 200px 5fr;
        grid-template-rows: 1fr;
        grid-template-areas: "sidebar content";
    }
}

/* SIDEBAR */

main {
    grid-area: content;
    padding: 5px;
}

.toolbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.current-month {
    color: #1E4B60;
    font-style: italic;
    font-weight: bold;
}

.calendar{}

.calendar__week,
.calendar__header {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.calendar__week {
    grid-auto-rows: 80px;
    text-align: right;
}

.calendar__header {
    grid-auto-rows: 30px;
    align-items: center;
    text-align: center;
}

.calendar__day {
    padding: 8px;
}


/* COSMETIC STYLING */

:root {
    --red: #ED5454;
}

.calendar {
    background-color: white;
    border: 1px solid #e1e1e1;
}

.calendar__header > div {
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: bold;
}

.calendar__day {
    border-right: 1px solid #e1e1e1;
    border-top: 1px solid #e1e1e1;
}

.calendar__day:last-child {
    border-right: 0;
}

.toggle{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    font-size: 0.9em;
}
.toggle__option{
    padding: 16px;
    border: 1px solid #e1e1e1;
    border-radius: 8px;
    text-transform: capitalize;
    cursor: pointer;
}
.toggle__option:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.toggle__option:last-child {
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.toggle__option--selected{
    border-color: white;
    background-color: white;
    color: var(--red);
    font-weight: 500;
    box-shadow: 1px 2px 30px -5px var(--red);
}

.add_menu {
    padding-top: 5em;
    padding-left: 2em;
    z-index: 2;
}

.plus_icon {
    color: #FEFEFE;
}

.div_dodadi {
    padding: 10px;
    width: 10em;
}

.add_menu i {
    padding-right: 10px;
}

.add_menu span {
    vertical-align: super;
}

.add_menu div:hover {
    cursor: pointer;
    text-decoration: underline;
}

.div_dodadi:hover > .plus_icon {
    cursor: pointer;
    color: #1E4B60;
}

.check_icon {
    font-size: 30px;
    color: #59B83C;
}

.cross_icon {
    font-size: 30px;
    color: #C6302C;
}

.empty_icon {
    font-size: 30px;
    color: #FFDE00;
}

.tabela_predmeti {
    margin-left: 3em;
}

body > section > table > thead > tr > th > label {
    cursor: pointer;
    font-size: 0.8em;
}

body > section > table > thead > tr > th > label:hover {
    text-decoration: underline;
    color: #013054;
}

body > section > table > thead > tr > th > input[type="radio"] {
    display: none;
}

.tabela, .tabela_predmeti {
    border-collapse: collapse;
    width: 80%;
    margin-bottom: 20px;
}

.tabela th, .tabela_predmeti th {
    background: #9FC1D6;
    border: #9FC1D6 !important;
    text-align: left;
}

.tabela_predmeti {
    text-align: center;
}

.tabela td, .tabela th, .tabela_predmeti td, .tabela_predmeti th {
    border: 1px solid #ddd;
    padding: 8px;
}

.tabela_predmeti > tbody > tr > td:nth-child(1) {
    text-align: left;
}

.tabela tr, .tabela_predmeti tr {
    height: 3em;
}

.tabela tr:nth-child(even), .tabela_predmeti tr:nth-child(even) {
    background: #E6E6E6;
}

.tabela tr:nth-child(odd), .tabela_predmeti tr:nth-child(odd) {
    background: #F7F7F7;
}

.tabela tr td:first-child {
    background: #9FC1D6;
    border: #9FC1D6 !important;
    width: 5em;
}

.tabela tr td:nth-child(3) {
    width: 22em;
}

.tabela tr td:nth-child(4), .tabela tr td:nth-child(5), .tabela tr td:nth-child(6) {
    width: 6em;
}

.tabela tr td:nth-child(7), .tabela tr td:nth-child(8) {
    text-align: center;
}

.invisiblemenu {
    visibility: hidden !important;
    z-index: -1 !important;
}

.semestar {
    margin-top: 2.5em;
    display: inline-flex;
}

.semestar > span {
    display: inline;
    vertical-align: middle;
    padding: 0.8em 1em 0 2em;
    font-size: 1.2em;
}

#dodadiSemBtn {
    display: inline;
    position: relative;
    top: 2.5em;
    right: -62em;
}

.dodadiSemBtn > button {
    background: none;
    color: white;
    border: none;
    cursor: pointer;
}



/* CSS za slider
    https://codepen.io/seanstopnik/pen/CeLqA
 */
*, *:before, *:after {
    box-sizing: border-box;
}

.range-slider {
    margin: 30px 0 0 0%;
}

.range-slider {
    width: 100%;
}

.range-slider__range {
    -webkit-appearance: none;
    width: calc(100% - (73px));
    height: 10px;
    border-radius: 5px;
    background: #d7dcdf;
    outline: none;
    padding: 0;
    margin: 0;
}
.range-slider__range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #2c3e50;
    cursor: pointer;
    -webkit-transition: background 0.15s ease-in-out;
    transition: background 0.15s ease-in-out;
}
.range-slider__range::-webkit-slider-thumb:hover {
    background: #1abc9c;
}
.range-slider__range:active::-webkit-slider-thumb {
    background: #1abc9c;
}
.range-slider__range::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background: #2c3e50;
    cursor: pointer;
    -moz-transition: background 0.15s ease-in-out;
    transition: background 0.15s ease-in-out;
}
.range-slider__range::-moz-range-thumb:hover {
    background: #1abc9c;
}
.range-slider__range:active::-moz-range-thumb {
    background: #1abc9c;
}
.range-slider__range:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 3px #fff, 0 0 0 6px #1abc9c;
}

.range-slider__value {
    display: inline-block;
    position: relative;
    width: 60px;
    color: #fff;
    line-height: 20px;
    text-align: center;
    border-radius: 3px;
    background: #2c3e50;
    padding: 5px 10px;
    margin-left: 8px;
}
.range-slider__value:after {
    position: absolute;
    top: 8px;
    left: -7px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 7px solid #2c3e50;
    border-bottom: 7px solid transparent;
    content: "";
}

::-moz-range-track {
    background: #d7dcdf;
    border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
    border: 0;
}

/* End of CSS za slider */

#nov_predmet_span {
    font-size: 1.5em;
    top: 1em;
    position: absolute;
    left: 1em;
}

.overlay {
    height: 90%;
    width: 0;
    position: fixed;
    z-index: 1;
    right: 0;
    background-color: #FEFEFE;
    overflow-x: hidden;
    transition: 0.5s;
    font-size: small;
    font-family: Arial, sans-serif;
}

.overlay-content {
    position: relative;
    top: 1.2em;
    width: 100%;
    margin-top: 30px;
    background-color: #FEFEFE;
    padding: 2em;
    line-height: 1.7;
}

.overlay-content input[type="text"] {
    margin-bottom: 1em;
}

.overlay a {
    text-decoration: none;
    color: #000000;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 0;
    right: 0.3em;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

.temp {
    display: flex;
    align-items: baseline;
    padding-top: 1em;
}

.divbtn_dodadi_predmet {
    margin: 1em 0 0 5em;
}