<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Календар</title>
    <link rel="stylesheet" th:href="@{/main.css}"/>
    <link rel="shortcut icon" type="image/png" th:href="@{/img/sn-logopng.png}"/>
    <script src="javascript.js" rel="stylesheet"></script>
    <script src="../jquery/jquery-3.5.1.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>
<body>
<header>

    <div class="logo-div">
        <img src="../images/logo.png" alt="logo" class="logo">
    </div>
    <ul class="ul-header">
        <li><a href="/studentController/polaganjaPage">ПОЛАГАЊА</a></li>
        <li><a href="/studentController/predmetiPage">ПРЕДМЕТИ</a></li>
        <li class="last-li"><a href="/studentController/mojProfilPage">МОЈ ПРОФИЛ</a></li>
    </ul>
</header>

<section>

    <div class="lev_content">

        <div class="wrapper">
            <main>

                <div class="toolbar">
                    <!-- <div class="toggle">
                         <div class="toggle__option">week</div>
                         <div class="toggle__option toggle__option&#45;&#45;selected">month</div>
                     </div>-->
                    <div class="current-month">ЈУНИ 2016</div>
                    <!--<div class="search-input">
                        <input type="text" value="What are you looking for?">
                        <i class="fa fa-search"></i>
                    </div>-->
                </div>

                <div class="calendar">
                    <div class="calendar__header">
                        <div>ПОН</div>
                        <div>ВТО</div>
                        <div>СРЕ</div>
                        <div>ЧЕТ</div>
                        <div>ПЕТ</div>
                        <div>САБ</div>
                        <div>НЕД</div>
                    </div>
                    <div class="calendar__week">
                        <div class="calendar__day day">1</div>
                        <div class="calendar__day day">2</div>
                        <div class="calendar__day day">3</div>
                        <div class="calendar__day day">4</div>
                        <div class="calendar__day day">5</div>
                        <div class="calendar__day day">6</div>
                        <div class="calendar__day day">7</div>
                    </div>
                    <div class="calendar__week">
                        <div class="calendar__day day">8</div>
                        <div class="calendar__day day">9</div>
                        <div class="calendar__day day">10</div>
                        <div class="calendar__day day">11</div>
                        <div class="calendar__day day">12</div>
                        <div class="calendar__day day">13</div>
                        <div class="calendar__day day">14</div>
                    </div>
                    <div class="calendar__week">
                        <div class="calendar__day day">15</div>
                        <div class="calendar__day day">16</div>
                        <div class="calendar__day day">17</div>
                        <div class="calendar__day day">18</div>
                        <div class="calendar__day day">19</div>
                        <div class="calendar__day day">20</div>
                        <div class="calendar__day day">21</div>
                    </div>
                    <div class="calendar__week">
                        <div class="calendar__day day">22</div>
                        <div class="calendar__day day">23</div>
                        <div class="calendar__day day">24</div>
                        <div class="calendar__day day">25</div>
                        <div class="calendar__day day">26</div>
                        <div class="calendar__day day">27</div>
                        <div class="calendar__day day">28</div>
                    </div>
                    <div class="calendar__week">
                        <div class="calendar__day day">29</div>
                        <div class="calendar__day day">30</div>
                        <div class="calendar__day day">31</div>
                        <div class="calendar__day day">1</div>
                        <div class="calendar__day day">2</div>
                        <div class="calendar__day day">3</div>
                        <div class="calendar__day day">4</div>
                    </div>
                </div>
            </main>
        </div>
    </div>


    <div class="desen_content">

        <div class="add_menu" id="add_menu">
            <div class="div_dodadi" id="dodadiPolaganje"><i class='fas fa-plus-circle plus_icon' style='font-size:30px'></i><span>Полагање</span></div>
            <div class="div_dodadi" id="dodadiPredavanje"><i class='fas fa-plus-circle plus_icon' style='font-size:30px'></i><span>Предавање</span></div>
            <div class="div_dodadi" id="dodadiDomasno"><i class='fas fa-plus-circle plus_icon' style='font-size:30px'></i><span>Домашно</span></div>
            <div class="div_dodadi" id="dodadiZabeleska"><i class='fas fa-plus-circle plus_icon' style='font-size:30px'></i><span>Забелешка</span></div>
        </div>

        <div class="vtor_desen_content invisiblemenu" id="vtor_desen_content">
        </div>

        <div id="dodadiPolaganjeDiv" class="invisiblemenu">
            <div class="second_menu" id="second_menu">

                <div>
                    <label for="predmet_polag">Предмет
                        <input type="text" id="predmet_polag" name="predmet_polag">
                    </label>
                </div>

                <div>
                    <label for="all_predmeti">Предмет
                        <select name="all_predmeti" id="all_predmeti" class="dd">
                            <option th:each="predmet : ${predmeti}"
                                    th:text="${predmet.getPredmetFinki().getIme()}"
                                    th:value="${predmet.getId()}">
                            </option>
                        </select>
                    </label>
                </div>

                <div>
                    <label for="date_polag">Датум<br>
                        <input type="date" id="date_polag" name="date_polag">
                    </label>
                </div>

                <div>
                    <label for="ses_polag">Колоквиум/сесија
                        <select name="ses_polag" id="ses_polag" class="dd">
                            <option value="kol_prv">прв колоквиум</option>
                            <option value="kol_vtor">втор колоквиум</option>
                            <option value="ses_jan">јануарска сесија</option>
                            <option value="ses_jun">јунска сесија</option>
                            <option value="ses_sept">септемвриска сесија</option>
                        </select>
                    </label>
                </div>

                <div style="width: 6em; position: absolute">
                    <label for="tip_polag">
                        <select name="tip_polag" id="tip_polag" class="dd">
                            <option value="teorija">теорија</option>
                            <option value="prakticno">практично</option>
                        </select>
                    </label>
                </div>

                <div style="width: 6em; position: relative; left: 7em">
                    <label for="nacin_polag">
                        <select name="nacin_polag" id="nacin_polag" class="dd">
                            <option value="online">online</option>
                            <option value="vozivo">во живо</option>
                        </select>
                    </label>
                </div>

                <div class="temp2" style="position: relative">
                    <input type="checkbox" id="polozen_cb" name="polozen_cb">
                    <label for="polozen_cb">Положен</label>
                </div>

                <div class="temp2" style="position: absolute; right: 3.5em; top: 21.8em;">
                    <label for="poeni_inp">Поени</label>
                    <input type="number" step="any" id="poeni_inp" name="poeni_inp">
                </div>

                <div>
                    <button id="vnesi_polag" class="vnesi_button" onclick="vnesiPolagFunc()">Внеси полагање</button>
                </div>

            </div>

        </div>

    </div>
</section>


</body>
</html>