<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Календар</title>
    <link rel="stylesheet" th:href="@{/main.css}"/>
    <link rel="shortcut icon" type="image/png" th:href="@{/img/sn-logopng.png}"/>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>
<body>
<header>
    <div class="logo-div">
        <img src="../images/logo.png" alt="logo" class="logo">
    </div>
    <ul class="ul-header">
        <li><a href="/studentController">КАЛЕНДАР</a></li>
        <li><a href="/studentController/polaganjaPage">ПОЛАГАЊА</a></li>
        <li><a href="/studentController/predmetiPage">ПРЕДМЕТИ</a></li>
        <li><a href="/studentController/rasporedPage">РАСПОРЕД</a></li>
        <li class="last-li"><a href="/studentController/mojProfilPage">МОЈ ПРОФИЛ</a></li>
    </ul>
</header>

<section>

    <div class="lev_content">

        <div class="wrapper">
            <main>

                <div class="toolbar">
                   <!-- <div class="toggle">
                        <div class="toggle__option">week</div>
                        <div class="toggle__option toggle__option&#45;&#45;selected">month</div>
                    </div>-->
                    <div class="current-month">ЈУНИ 2016</div>
                    <!--<div class="search-input">
                        <input type="text" value="What are you looking for?">
                        <i class="fa fa-search"></i>
                    </div>-->
                </div>

                <div class="calendar">
                    <div class="calendar__header">
                        <div>ПОН</div>
                        <div>ВТО</div>
                        <div>СРЕ</div>
                        <div>ЧЕТ</div>
                        <div>ПЕТ</div>
                        <div>САБ</div>
                        <div>НЕД</div>
                    </div>
                    <div class="calendar__week">
                        <div class="calendar__day day">1</div>
                        <div class="calendar__day day">2</div>
                        <div class="calendar__day day">3</div>
                        <div class="calendar__day day">4</div>
                        <div class="calendar__day day">5</div>
                        <div class="calendar__day day">6</div>
                        <div class="calendar__day day">7</div>
                    </div>
                    <div class="calendar__week">
                        <div class="calendar__day day">8</div>
                        <div class="calendar__day day">9</div>
                        <div class="calendar__day day">10</div>
                        <div class="calendar__day day">11</div>
                        <div class="calendar__day day">12</div>
                        <div class="calendar__day day">13</div>
                        <div class="calendar__day day">14</div>
                    </div>
                    <div class="calendar__week">
                        <div class="calendar__day day">15</div>
                        <div class="calendar__day day">16</div>
                        <div class="calendar__day day">17</div>
                        <div class="calendar__day day">18</div>
                        <div class="calendar__day day">19</div>
                        <div class="calendar__day day">20</div>
                        <div class="calendar__day day">21</div>
                    </div>
                    <div class="calendar__week">
                        <div class="calendar__day day">22</div>
                        <div class="calendar__day day">23</div>
                        <div class="calendar__day day">24</div>
                        <div class="calendar__day day">25</div>
                        <div class="calendar__day day">26</div>
                        <div class="calendar__day day">27</div>
                        <div class="calendar__day day">28</div>
                    </div>
                    <div class="calendar__week">
                        <div class="calendar__day day">29</div>
                        <div class="calendar__day day">30</div>
                        <div class="calendar__day day">31</div>
                        <div class="calendar__day day">1</div>
                        <div class="calendar__day day">2</div>
                        <div class="calendar__day day">3</div>
                        <div class="calendar__day day">4</div>
                    </div>
                </div>
            </main>
        </div>
    </div>


    <div class="desen_content">
        <div class="add_menu">
            <div class="div_dodadi"><i class='fas fa-plus-circle plus_icon' style='font-size:30px'></i><span>Полагање</span></div>
            <div class="div_dodadi"><i class='fas fa-plus-circle plus_icon' style='font-size:30px'></i><span>Предавање</span></div>
            <div class="div_dodadi"><i class='fas fa-plus-circle plus_icon' style='font-size:30px'></i><span>Домашно</span></div>
            <div class="div_dodadi"><i class='fas fa-plus-circle plus_icon' style='font-size:30px'></i><span>Забелешка</span></div>
        </div>
    </div>

</section>


</body>
</html>