<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Профил</title>
    <link rel="stylesheet" th:href="@{/main.css}"/>
    <link rel="shortcut icon" type="image/png" th:href="@{/img/sn-logopng.png}"/>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>
<body>

<header>
    <div class="logo-div">
        <img src="../images/logo.png" alt="logo" class="logo">
    </div>
    <ul class="ul-header">
        <li><a href="/studentController/polaganjaPage">ПОЛАГАЊА</a></li>
        <li><a href="/studentController/predmetiPage">ПРЕДМЕТИ</a></li>
        <li class="last-li"><a href="/studentController/mojProfilPage">МОЈ ПРОФИЛ</a></li>
    </ul>
</header>

<div>
    <h2>
        Лични податоци
    </h2>
</div>

<form action="/studentController/registerStudent" method="POST">
    <div class="mojProfilDiv">

    <div th:if="${student.getIme()} == null">
        <label> Username:
            <input type="text" id="username" name="username"
                   placeholder="Username" class="form-control mb-4 col-4">
        </label>
    </div>

    <div>
        <div th:if="${student.getIme()} == null">
            <label> Име
                <input type="text" id="ime" name="ime"
                       placeholder="Име" class="form-control mb-4 col-4">
            </label>
        </div>
        <div th:if="${student.getIme()} != null"
            th:text="'Име: ' + ${student.getIme()}">
        </div>
    </div>

    <div>
        <div th:if="${student.getPrezime()} == null">
            <label> Презиме
                <input type="text" id="prezime" name="prezime"
                       placeholder="Презиме" class="form-control mb-4 col-4">
            </label>
        </div>
        <div th:if="${student.getIme()} != null"
             th:text="'Презиме: ' + ${student.getPrezime()}">
        </div>
    </div>

    <div>
        <div th:if="${student.getBrojIndeks()} == null">
            <label> Индекс
                <input type="text" id="brojIndeks" name="brojIndeks"
                       placeholder="Индекс" class="form-control mb-4 col-4">
            </label>
        </div>
        <div th:if="${student.getBrojIndeks()} != null"
            th:text="${'Индекс: ' + student.getBrojIndeks()}">
        </div>
    </div>

    <div>
        <div th:if="${student.getEmbg()} == null">
            <label> ЕМБГ
                <input type="text" id="embg" name="embg"
                       placeholder="ЕМБГ" class="form-control mb-4 col-4">
            </label>
        </div>
        <div th:if="${student.getEmbg()} != null"
            th:text="${'ЕМБГ: ' + student.getEmbg()}">
        </div>
    </div>

    <div>
        <div th:if="${student.getSmer()} == null">
            <label> Смер
                <input type="text" id="smer" name="smer"
                       placeholder="Смер" class="form-control mb-4 col-4">
            </label>
        </div>
        <div th:if="${student.getSmer()} != null"
            th:text="${'Смер: ' + student.getSmer()}">
        </div>
    </div>

</div>
<div class="mojProfilDiv">
    <div>
        <div th:if="${student.getDatumZapisuvanje()} == null">
            <label> Датум на запишување
                <input type="date" id="datumZapisuvanje" name="datumZapisuvanje"
                       placeholder="Датум на запишување" class="form-control mb-4 col-4">
            </label>
        </div>
        <div th:if="${student.getDatumZapisuvanje()} != null"
            th:text="${'Датум на запишување: ' + student.getDatumZapisuvanje()}">
        </div>
    </div>

    <div>
        <div th:if="${student.getRedovenVonreden()} == 'x'">
            <input type="radio" id="redoven" value="r" name="redovenVonreden" class="form-control">
            <label for="redoven">Редовен</label>
            <input type="radio" id="vonreden" value="v" name="redovenVonreden" class="form-control">
            <label for="vonreden">Вонреден</label>
        </div>
        <div th:if="${student.getRedovenVonreden()} != 'x'"
            th:text="${'Вонреден/редовен: ' + student.getRedovenVonreden()}">
        </div>
    </div>

    <div>
        <div th:if="${student.getEmail()} == null">
            <label> Email
                <input type="text" id="email" name="email"
                       placeholder="Email" class="form-control mb-4 col-4">
            </label>
        </div>
        <div th:if="${student.getEmail()} != null"
            th:text="${'Email: ' + student.getEmail()}">
        </div>
    </div>

    <div>
        <div th:if="${student.getTelefon()} == null">
            <label> Телефон
                <input type="text" id="telefon" name="telefon"
                       placeholder="Телефон" class="form-control mb-4 col-4">
            </label>
        </div>
        <div th:if="${student.getTelefon()} != null"
            th:text="${'Телефон: ' + student.getTelefon()}">
        </div>
    </div>

    <div>
        <div th:if="${student.getGrad()} == null">
            <label> Град
                <input type="text" id="grad" name="grad"
                       placeholder="Град" class="form-control mb-4 col-4">
            </label>
        </div>
        <div th:if="${student.getGrad()} != null"
            th:text="${'Град: ' + student.getGrad()}">
        </div>
    </div>

    <div>
        <div th:if="${student.getIme()} == null">

        </div>
    </div>

    <div th:if="${student.getIme()} == null">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Внеси податоци</button>
    </div>
</div>


</form>
</body>
</html>