<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Полагања</title>
    <link rel="stylesheet" th:href="@{/main.css}"/>
    <link rel="shortcut icon" type="image/png" th:href="@{/img/sn-logopng.png}"/>
    <script src="../polaganja-js.js" rel="stylesheet"></script>
    <script src="../jquery/jquery-3.5.1.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>
<body>

<header>
    <div class="logo-div">
        <img src="../images/logo.png" alt="logo" class="logo">
    </div>
    <ul class="ul-header">
        <li><a href="/studentController">КАЛЕНДАР</a></li>
        <li><a href="/studentController/polaganjaPage">ПОЛАГАЊА</a></li>
        <li><a href="/studentController/predmetiPage">ПРЕДМЕТИ</a></li>
        <li><a href="/studentController/rasporedPage">РАСПОРЕД</a></li>
        <li class="last-li"><a href="/studentController/mojProfilPage">МОЈ ПРОФИЛ</a></li>
    </ul>
</header>

<section class="section_tabela">

    <table class="tabela">
        <thead>
        <tr>
            <th></th>
            <th>Датум</th>
            <th>Предмет</th>
            <th>Сесија</th>
            <th>Тип</th>
            <th>Начин</th>
            <th>Поени</th>
            <th>Положен</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="polaganje : ${polaganja}">
            <td>Идни</td>
            <td><th:block th:text="${polaganje.getDatumPolaganje().toString()}"></th:block></td>
            <td><th:block th:text="${polaganje.getPredmet().getPredmetFinki().getIme()}"></th:block></td>
            <td class="td_sesija"><th:block th:text="${polaganje.getSesija().getOpis()}"></th:block></td>
            <td class="teor_prak"><th:block th:text="${polaganje.getTeorijaPrakticno()}"></th:block></td>
            <td class="nacin"><th:block th:text="${polaganje.getOnline()}"></th:block></td>
            <td class="osvoeni_poeni"><th:block th:text="${polaganje.getOsvoeniPoeni()}"></th:block></td>
            <!--<td><i class='far fa-circle empty_icon'></i></td>-->
            <td class="pol_polozen"><th:block th:text="${polaganje.getPolozen()}"></th:block></td>
        </tr>
        </tbody>

    </table>

    <table class="tabela">
        <tbody>
        <tr>
            <td>Минати</td>
            <td>04.02.2021</td>
            <td>Компјутерски Мрежи и Безбедност</td>
            <td>Јануарска</td>
            <td>Теорија</td>
            <td>Online</td>
            <td>59</td>
            <td><i class='fas fa-check-circle check_icon'></i></td>
        </tr>
        <tr>
            <td></td>
            <td>28.01.2021</td>
            <td>Оперативни Системи</td>
            <td>Јануарска</td>
            <td>Задачи</td>
            <td>Online</td>
            <td>37</td>
            <td><i class='fas fa-times-circle cross_icon'></i></td>
        </tr>
        </tbody>
    </table>
</section>

</body>
</html>