<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Предмети</title>
    <link rel="stylesheet" th:href="@{/main.css}"/>
    <link rel="shortcut icon" type="image/png" th:href="@{/img/sn-logopng.png}"/>
    <script src="../predmeti-js.js" rel="stylesheet"></script>
    <script src="../jquery/jquery-3.5.1.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>
<body>

<header>
    <div class="logo-div">
        <img src="../images/logo.png" alt="logo" class="logo">
    </div>
    <ul class="ul-header">
        <li><a href="/studentController">КАЛЕНДАР</a></li>
        <li><a href="/studentController/polaganjaPage">ПОЛАГАЊА</a></li>
        <li><a href="/studentController/predmetiPage">ПРЕДМЕТИ</a></li>
        <li><a href="/studentController/rasporedPage">РАСПОРЕД</a></li>
        <li class="last-li"><a href="/studentController/mojProfilPage">МОЈ ПРОФИЛ</a></li>
    </ul>
</header>

<div class="semestar">
    <span>Семестар</span>
    <div class="dodadiSemBtn" id="dodadiSemBtn">
        <button style='font-size:24px' onclick="dodadiSemestar()"> <i class='fas fa-plus'></i></button>
    </div>
</div>

<section class="section_tabela">

    <table class="tabela_predmeti">
        <thead>
        <tr>
            <th></th>
            <th>Кој пат</th>
            <th>Статус</th>
            <th>Оцена</th>
            <th>Положен</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Компјутерски Мрежи и Безбедност</td>
            <td>2</td>
            <td>Задолжителен</td>
            <td>7</td>
            <td><i class='far fa-circle empty_icon'></i></td>
            <td>Повеќе информации</td>
        </tr>

        <tr th:each="predmet : ${predmeti}">
            <td><th:block th:text="${predmet.getPredmetFinki().getIme()}"></th:block></td>
            <td><th:block th:text="${predmet.getKojPat()}"></th:block></td>
            <td><th:block th:text="${predmet.getPredmetFinki().getZadolzitelen()}"></th:block></td>
            <td><th:block th:text="${predmet.getOcenka()}"></th:block></td>
            <td><th:block th:text="${predmet.getPolozen()}"></th:block></td>
            <td>Повеќе информации</td>
        </tr>

        </tbody>
    </table>

</section>

</body>
</html>