* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* Style the header */
header {
    background-color: #1E4B60;
    padding: 10px 30px;
    text-align: left;
    font-size: 20px;
    color: #FEFEFE;
}

.logo-div {
    display: inline;
    padding-right: 5em;
}

.logo {
    width: 12%;
}

/* Style the list inside the menu */
.ul-header {
    list-style-type: none;
    padding: 0;
    display: inline;
}

.ul-header li {
    display: inline;
    padding: 0.4em 1em;
    border-radius: 15px 15px 0 0;
    background: #297092;
    box-shadow: 24px 0 37px -24px rgba(0,0,0,0.43);
    border-style: solid;
    border-color: #1E4B60 #1E4B60 transparent;
}

.ul-header a {
    text-decoration: none;
    font-size: 15px;
    color: #FEFEFE;
}

.last-li {
    margin-left: 410px;
}

.ul-header li:hover {
    border-color: #FEFEFE #FEFEFE transparent;
    cursor: pointer;
}

.ul-header li:active {
    border-color: #1E4B60 #1E4B60 transparent;
}

article {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: #f1f1f1;
    height: 300px; /* only for demonstration, should be removed */
}

/* Clear floats after the columns */
section::after {
    content: "";
    display: table;
    clear: both;
}

/* Style the footer */
footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
    nav, article {
        width: 100%;
        height: auto;
    }
}
